{% extends 'base/base.html' %}

{% block title %}
Cambio de clave
{% endblock %}
{% block navbar%}

{% endblock %}

{% block content %}


<form method="post">
	{% csrf_token %}
	{% if messages %}
	<ul class="messages">
    {% for message in messages %}
    	<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
	</ul>
	{% endif %}
	<label for="id_old_password">Contraseña antigua: </label>
	<input id = "id_old_password" name ="old_password" type= "password">
	<label for="id_new_password1">Contraseña nueva: </label>
	<input id = "id_new_password1" name ="new_password1" type= "password">
	<span class= "helptext">
		<ul>
			<li>La nueva contraseña debe ser diferente a la antigua.</li>
			<li>La contraseña debe contener minimo 8 caracteres</li>
			<li>No debe ser totalmente numerica(minimo 2 caracteres)</li>
		</ul>
	</span>
	<label for="id_new_password2">Confirme contraseña nueva: </label>
	<input id = "id_new_password2" name ="new_password2" type= "password">
	<button type="submit">Guardar clave</button>
</form>

{% endblock %}
