{% extends 'base/base.html' %}

{% block content %}

<table class="table table-bordered">
	<thead>
		<tr>
			<td>No. Solicitud</td>
			<td>correo</td>
			<td>Nombre Usuario</td>
		</tr>
	</thead>
	<tbody>
		{% if object_list %}
		{% for solicitud in object_list %}
		<tr>
			<td>{{ solicitud.id }}</td>
			<td>{{ solicitud.email }}</td>
			<td>{{ solicitud.username }}</td>	
			<td>
				<a class="btn btn-primary" href="#">Editar</a>
				<a class="btn btn-danger" href="{% url 'usuario:usuario_eliminar' solicitud.id%}">Eliminar</a>
			</td>
		</tr>
		{% endfor %}
		
		{% else %}
		<h1>No hay registros de solicitudes</h1>
		{% endif %}
	</tbody>
</table> 

{% endblock%}