{% extends 'base/base.html' %}

{% block title %}
Login
{% endblock %}
{% block navbar%}

{% endblock %}

{% block content %}
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-md-6 col-md-offset-1">
                                    <img style="margin: 0 0 5px 20px; float: right;" src="http://sirius.utp.edu.co/visualization/oportunidades-cai/logo/logo_utp.png" alt="Castle" width="200" height="60" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>Observatorio Egresados</h2>

            <h1>Ingresar</h1>
            </div>
    </div>
        <div class="col-md-6 col-md-offset-3">
            {% if message%}
            <b>{{message}}</b>
            {% endif %}
        </div>
    <form method="post">
    {% csrf_token %}
    <br>
     <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="form-group">
                <label for="username">Nombre de usuario:</label>
                <input class="form-control" type="text" name="username">
           </div>
        </div>
    </div>    
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="form-group">
                <label for="username">Contraseña:</label>
                <input class="form-control" type="password" name="password">
           </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="form-group">
                <a href="{% url 'password_reset' %}">Olvidé mi contraseña</a>
                <input class="btn btn-primary" type="submit" value="Ingresar">
           </div>
        </div>
    </div>
    </form>
{% endblock %}
